* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

main {
  flex: 1;
  height: 100%;
  position: relative;
}

/* navigation bar */
.nav-list {
  z-index: 1;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;

  color: white;
  isolation: isolate;
  mix-blend-mode: difference;
}

.nav-list > li {
  cursor: pointer;
  list-style: none;
  padding: 1em;
}

.nav-list > li:hover {
  mix-blend-mode: normal;
  color: black;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .nav-list {
    justify-content: center;
  }
  .nav-list > li {
    flex: 1;
    padding: 1em 0;
    text-align: center;
  }
}

/* name & slogan */
.name-and-slogan {
  position: absolute;
  left: 10%;
  bottom: 32%;
  color: white;
  isolation: isolate;
  mix-blend-mode: difference;
}

.name {
  font-size: 64px;
  font-weight: 600;
}

.slogan {
  font-size: 28px;
  line-height: 150%;
  transform: translateX(10px);
}

@media screen and (max-width: 600px) {
  .name-and-slogan {
    bottom: 40%;
  }

  .name {
    font-size: 48px;
  }
  
  .slogan {
    font-size: 18px;
    margin-right: 20%;
    transform: translateX(6px);
  }
}

/* others */
#glRenderer {
  width: 100%;
  height: 100%;
}
